html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (min-width: 30em) and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 20em) and (max-width: 29.99em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.new-user {
  background: hsl(180deg, 66%, 49%);
  color: white;
}

.heading-style {
  font-weight: 700;
  color: hsl(260deg, 8%, 14%);
}

.navbar {
  font-size: 1.7rem;
  padding-top: 2rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .navbar {
    margin-bottom: 10rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .navbar {
    margin-bottom: 10rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .navbar {
    margin-bottom: 10rem;
  }
}
.navbar .nav-item:not(:first-of-type) {
  margin-left: 3rem;
}
.navbar .user {
  width: 100%;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .navbar .user {
    margin-top: 2rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .navbar .user {
    margin-top: 2rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .navbar .user {
    margin-top: 2rem;
  }
}
.navbar .user li {
  margin: 0 1.5rem;
}
.navbar li .color-link {
  color: hsl(257deg, 7%, 63%);
}
.navbar .new-user {
  padding: 1rem 2rem;
}
.navbar .new-user:hover {
  color: white;
}

.main {
  height: 80vh;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .main {
    flex-direction: column;
    height: 85vh;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .main {
    flex-direction: column;
    height: 120vh;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .main {
    flex-direction: column;
    height: 130vh;
  }
}
.main .content {
  width: 60%;
  order: 1;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .main .content {
    width: 100%;
    margin-top: 7rem;
    text-align: center;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .main .content {
    width: 100%;
    margin-top: 7rem;
    text-align: center;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .main .content {
    text-align: center;
    width: 100%;
    margin-top: 7rem;
  }
}
@media (min-width: 62em) and (max-width: 68.74em) {
  .main .content {
    width: 50%;
    align-self: flex-end;
  }
}
.main .content .title {
  font-size: 7rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .main .content .title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .main .content .title {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .main .content .title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 62em) and (max-width: 68.74em) {
  .main .content .title {
    font-size: 5.5rem;
  }
}
.main .content .sub-title {
  font-size: 2rem;
  color: hsl(257deg, 7%, 63%);
  margin-bottom: 3rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .main .content .sub-title {
    font-size: 2.4rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .main .content .sub-title {
    font-size: 2.3rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .main .content .sub-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 62em) and (max-width: 68.74em) {
  .main .content .sub-title {
    font-size: 1.7rem;
  }
}
.main .content .sub-title br {
  display: none;
}
@media (min-width: 64.25em) {
  .main .content .sub-title br {
    display: inline;
  }
}
.main .content .main-btn {
  font-size: 2rem;
  padding: 1rem 2.5rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .main .content .main-btn {
    font-size: 2.5rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .main .content .main-btn {
    font-size: 2.5rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .main .content .main-btn {
    font-size: 2.7rem;
  }
}
@media (min-width: 62em) and (max-width: 68.74em) {
  .main .content .main-btn {
    font-size: 1.5rem;
  }
}
.main .hero-img {
  width: 35%;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .main .hero-img {
    width: 100%;
  }
  .main .hero-img img {
    width: 100%;
    transform: translateX(7rem);
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .main .hero-img {
    width: 100%;
  }
  .main .hero-img img {
    width: 100%;
    transform: translateX(7rem);
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .main .hero-img {
    width: 100%;
  }
  .main .hero-img img {
    width: 100%;
  }
}
@media (min-width: 62em) and (max-width: 68.74em) {
  .main .hero-img {
    width: 50%;
  }
  .main .hero-img img {
    width: 55rem;
  }
}

.shorten {
  background: hsl(257deg, 27%, 26%);
  background-image: url("../images/bg-shorten-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  margin: auto;
  height: 14rem;
  padding-top: 4rem;
  transform: translateY(7rem);
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .shorten {
    width: 90%;
    padding: 0 2rem;
    margin: 0 auto 0;
    height: 18rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .shorten {
    width: 90%;
    padding: 0 2rem;
    margin: 0 auto 0;
    height: 18rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .shorten {
    width: 90%;
    padding: 0 2rem;
    margin: 0 auto 0;
    height: 18rem;
  }
}
.shorten-wrapper {
  width: 100%;
}
.shorten .input-text .short-link {
  font-size: 1.7rem;
  width: 70rem;
  outline: none;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 0.8rem;
  margin-right: 2rem;
  margin-bottom: 0.8rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .shorten .input-text .short-link {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .shorten .input-text .short-link {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .shorten .input-text .short-link {
    width: 100%;
    margin-bottom: 0;
  }
}
.shorten .input-text .no-link {
  outline: 0.3rem solid red;
}
.shorten .input-text .no-link::placeholder {
  color: hsl(0deg, 87%, 67%);
}
.shorten .input-text .warning {
  text-align: left;
  font-size: 1.6rem;
  color: hsl(0deg, 87%, 67%);
  font-style: italic;
  visibility: hidden;
}
.shorten .shorten-btn {
  font-size: 2rem;
  padding: 1rem 2.7rem;
  border-radius: 0.9rem;
  margin-top: 0.2rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .shorten .shorten-btn {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .shorten .shorten-btn {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .shorten .shorten-btn {
    width: 100%;
    margin-top: 1rem;
  }
}

.advanced {
  background: hsl(230deg, 25%, 95%);
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.advanced .link-shorts .hide-link {
  display: none !important;
}
.advanced .link-shorts .link {
  width: 80%;
  background: white;
  margin-bottom: 2rem;
  height: 6.4rem;
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .link-shorts .link {
    width: 80%;
    max-width: 65rem;
    height: 20rem;
    padding: 2rem 0;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .link-shorts .link {
    width: 80%;
    max-width: 65rem;
    height: 20rem;
    padding: 2rem 0;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .link-shorts .link {
    width: 70%;
    max-width: 65%;
    height: 20rem;
    padding: 2rem 0;
  }
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .link-shorts .link .original-link {
    word-break: break-all;
    border-bottom: 0.2rem solid hsl(0deg, 0%, 75%);
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .link-shorts .link .original-link {
    word-break: break-all;
    border-bottom: 0.2rem solid hsl(0deg, 0%, 75%);
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .link-shorts .link .original-link {
    word-break: break-all;
    border-bottom: 0.2rem solid hsl(0deg, 0%, 75%);
    width: 100%;
    padding-bottom: 1rem;
  }
}
.advanced .link-shorts .link .original-link p {
  margin: 0;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .link-shorts .link .original-link p {
    padding: 0 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .link-shorts .link .original-link p {
    padding: 0 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .link-shorts .link .original-link p {
    padding: 0 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .link-shorts .link .new-short-link {
    padding: 0 2rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .link-shorts .link .new-short-link {
    padding: 0 2rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .link-shorts .link .new-short-link {
    padding: 0 2rem;
  }
}
.advanced .link-shorts .link .new-short-link .new-link {
  color: hsl(180deg, 66%, 49%);
  margin: 0 2rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .link-shorts .link .new-short-link .new-link {
    font-size: 2.3rem;
    margin: 1.5rem 0;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .link-shorts .link .new-short-link .new-link {
    font-size: 2.3rem;
    margin: 1.5rem 0;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .link-shorts .link .new-short-link .new-link {
    font-size: 2.3rem;
    margin: 1.5rem 0;
  }
}
.advanced .link-shorts .link .new-short-link button {
  font-size: 1.8rem;
  padding: 0.8rem 2.7rem;
  border-radius: 0.4rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .link-shorts .link .new-short-link button {
    width: 100%;
    font-size: 2.3rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .link-shorts .link .new-short-link button {
    width: 100%;
    font-size: 2.3rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .link-shorts .link .new-short-link button {
    width: 100%;
    font-size: 2.3rem;
  }
}
.advanced-content {
  margin: 10rem 0;
}
.advanced-title {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.advanced-text {
  font-size: 1.7rem;
  margin: auto;
  width: 50rem;
  color: hsl(257deg, 7%, 63%);
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced-text {
    width: 30rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced-text {
    width: 30rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced-text {
    width: 30rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 75em) {
  .advanced .cards .mrg {
    margin: 0 1.8rem;
  }
}
.advanced .cards .card {
  position: relative;
  width: 30rem;
  height: 23rem;
  border-radius: 0.6rem;
  margin: 0 1rem;
  padding: 0 1rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card {
    margin: 2rem auto;
    text-align: center;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card {
    margin: 2rem auto;
    text-align: center;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .cards .card {
    margin: 2rem auto;
    text-align: center;
  }
}
.advanced .cards .card .icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 3.5rem 3.5rem;
  text-align: center;
  background: hsl(257deg, 27%, 26%);
  top: -4rem;
  left: 2rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card .icon {
    left: 40%;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card .icon {
    left: 40%;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .cards .card .icon {
    left: 40%;
  }
}
.advanced .cards .card .icon img {
  width: 3.7rem;
}
.advanced .cards .card-title {
  margin-left: 2.5rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card-title {
    margin: 0;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card-title {
    margin: 0;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .cards .card-title {
    margin: 0;
  }
}
.advanced .cards .card-title h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.advanced .cards .card-title p {
  font-size: 1.3rem;
  color: hsl(257deg, 7%, 63%);
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card-title p {
    width: 25rem;
    margin: auto;
    font-size: 1.4rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card-title p {
    width: 25rem;
    margin: auto;
    font-size: 1.4rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card-title p {
    width: 25rem;
    margin: auto;
    font-size: 1.4rem;
  }
}
.advanced .cards .card-1 {
  transform: translateY(-3rem);
}
.advanced .cards .card-1::after {
  content: "";
  width: 2.1rem;
  height: 0.6rem;
  background: hsl(180deg, 66%, 49%);
  position: absolute;
  right: -2.2rem;
  top: 55%;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card-1::after {
    top: 100%;
    right: 47%;
    height: 3.5rem;
    width: 0.6rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card-1::after {
    top: 100%;
    right: 47%;
    height: 3.5rem;
    width: 0.6rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .cards .card-1::after {
    top: 100%;
    right: 47%;
    height: 3.5rem;
    width: 0.6rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card-2::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 3.5rem;
    background: hsl(180deg, 66%, 49%);
    right: 47%;
    top: 100%;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card-2::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 3.5rem;
    background: hsl(180deg, 66%, 49%);
    right: 47%;
    top: 100%;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .cards .card-2::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 3.5rem;
    background: hsl(180deg, 66%, 49%);
    right: 47%;
    top: 100%;
  }
}
.advanced .cards .card-3 {
  transform: translateY(3rem);
}
.advanced .cards .card-3::before {
  content: "";
  width: 2.1rem;
  height: 0.6rem;
  background: hsl(180deg, 66%, 49%);
  position: absolute;
  left: -2.2rem;
  top: 27%;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .advanced .cards .card-3::before {
    display: none;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .advanced .cards .card-3::before {
    display: none;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .advanced .cards .card-3::before {
    display: none;
  }
}

.boost {
  height: 30rem;
  background: hsl(257deg, 27%, 26%);
  background-image: url("../images/bg-boost-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boost h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 2rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .boost h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .boost h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .boost h1 {
    font-size: 3.5rem;
  }
}
.boost .boost-btn {
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
}

.footer {
  background: hsl(260deg, 8%, 14%);
  padding-top: 4rem;
  padding-bottom: 8rem;
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .footer .footer-logo {
    margin-bottom: 5rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .footer .footer-logo {
    margin-bottom: 5rem;
  }
}
.footer .footer-logo img {
  filter: brightness(500%);
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .footer .footer-logo img {
    width: 30%;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .footer .footer-logo img {
    width: 30%;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .footer .footer-logo img {
    width: 30%;
  }
}
.footer ul .li-title {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .footer ul .li-title {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 3rem;
    line-height: 3.5;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .footer ul .li-title {
    font-size: 1.9rem;
    margin: 0;
    margin-top: 3rem;
    line-height: 3.5;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .footer ul .li-title {
    font-size: 1.9rem;
    margin: 0;
    margin-top: 3rem;
    line-height: 3.5;
  }
}
.footer ul .text {
  line-height: 2.4;
}
.footer ul .text a {
  color: hsl(257deg, 7%, 63%);
  font-size: 1.1rem;
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .footer ul .text a {
    font-size: 1.5rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .footer ul .text a {
    font-size: 1.8rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .footer ul .text a {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99em) {
  .footer .sol-icon {
    margin-top: 4rem;
  }
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .footer .sol-icon {
    margin-top: 4rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .footer .sol-icon {
    margin-top: 4rem;
  }
}
.footer .sol-icon li {
  margin: 0 0.6rem;
  font-size: 1.8rem;
}
@media (min-width: 30em) and (max-width: 37.5em) {
  .footer .sol-icon li {
    font-size: 2rem;
  }
}
@media (min-width: 37.5em) and (max-width: 61.99em) {
  .footer .sol-icon li {
    font-size: 2.2rem;
  }
}
.footer .sol-icon li a {
  color: white;
}

/*# sourceMappingURL=main.css.map */
